<div class='row'>
  <div class='col'>
    <h2><%= t('.title') %></h2>
  </div>
</div>
<div class='row'>
  <div class='col'>
    <table class="table table-striped">
      <thead>
        <th> <%= t('attributes.row') %> </th>
        <th> <%= t('attributes.message') %> </th>
        <th> <%= t('attributes.created_at') %> </th>
      <thead>
      <tbody>
        <%= render @error_logs %>
      </tbody>
    </table>
  </div>
</div>
<div class='row'>
  <div class='col'>
    <%= paginate @error_logs %>
  </div>
</div>
