<div class='row'>
  <div class='col'>
    <h2><%= t('.title') %></h2>
    <%= form_with model: @import, local: true do |f| %>
      <%= f.hidden_field :headers, value: Import::HEADERS.join(',') %>
      <div class="mb-3">
        <p> <%= t('.sort_headers') %></p>
        <ul id="sortable-headers" class="list-group">
          <% Import::HEADERS.each do |header| %>
            <li class="ui-state-default list-group-item list-group-item-action" id=<%= header %>>
              <span class="ui-icon ui-icon-arrowthick-2-n-s"></span><%= t("attributes.#{header}") %>
            </li>
          <% end %>
        </ul>
      </div>
      <div class="mb-3">
        <%= f.file_field :contacts_file, class: 'form-control', required: true, accept: '.csv', multiple: false %>
        <div class="small text-danger">
          <%= f.object.errors[:contacts_file].join(', ') %>
        </div>
      </div>
      <div>
         <%= f.submit class: 'btn btn-success' %>
      </div>
    <% end %>
  </div>
</div>
